@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #101F3E;
  color: white;
  font-family: 'Inter', sans-serif !important;

}
a{
  text-decoration: none;
  color: inherit;
}
.cursor-pointer{
  cursor: pointer;
}
thead tr th{
  background: #CFE2FF !important;
}

p{
  padding: 0;
  margin: 0;
}
button{
  border: none;
}
.tableContainer{
  overflow-x: scroll;
}
.user{
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
@media screen and (max-width:400px) {
  th,td,.tabText{
    font-size: 14px;
    text-wrap: nowrap;
  }
}